.btn {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  font-size: 10px;
  padding: 5px 5px;
  &.btn--small {
    font-size: 12px;
    padding: 10px 16px;
  }
  &.btn--medium {
    font-size: 14px;
    padding: 11px 20px;
  }
  &.btn--large {
    font-size: 16px;
    padding: 12px 24px;
  }
  &.rounded {
    border-radius: 10px;
  }
  &.btn--primary {
    color: #fff;
    background-color: #0b5ed7;
  }
  &.btn--secondary {
    color: #fff;
    background-color: #6c757d;
  }
  &.btn--success {
    color: #fff;
    background-color: #198754;
  }
  &.btn--danger {
    color: #fff;
    background-color: #dc3545;
  }
  &.btn--warning {
    color: #111;
    background-color: #ffc107;
  }
  &.btn--info {
    color: #111;
    background-color: #0dcaf0;
  }
  &.btn--lignt {
    color: #111;
    background-color: #d3d4d5;
  }
  &.btn--dark {
    color: #fff;
    background-color: #555;
  }
}